@use 'base/variables' as v;
@use 'base/mixins' as m;

.soporte {
    &__contenido {        
        overflow: hidden;
    }
}
.soporte-form {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    transition: transform 300ms ease-in-out;

    &__fieldset {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__legend {
        text-align: center;
        font-weight: bold;
        font-size: 3rem;
    }
    &__campo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__input,
    &__textarea,
    &__select {
        padding: .6rem 1rem;
        border: none;
        border-radius: .5rem;
        background-color: lighten(v.$primario, 60%);

        &:focus {
            outline: none;
        }
    }
    &__btns {
        display: flex;
        justify-content: space-between;
    }
    &__btn,
    &__submit {
        margin-top: 2rem;
        padding: .8rem 1.5rem;
        border: none;
        border-radius: .5rem;
        background-color: v.$primario;
        color: v.$blanco;
        text-align: center;
        cursor: pointer;
    }
    &__btn {
        background-color: v.$primario;
    }
    &__submit {
        background-color: v.$secundario;
    }
}
.soporte-progreso {
    display: flex;
    width: 26rem;
    margin: 2rem auto;
    justify-content: space-around;

    @include m.telefono {
        width: 35rem;
    }
    @include m.tablet {
        width: auto;
        margin: 2rem 0;
    }
    &__paso {
        width: 100%;
        text-align: center;
    }
    &__paso:last-child {
        .soporte-progreso__bullet {
            &:after,
            &::before {
                display: none;
            }
        }
    }
    &__nombre {
        display: none;
        margin-bottom: .8rem;
        font-size: 1.8rem;
        font-weight: bold;
        color: v.$secundario;
        transition: color 300ms ease;
    
        @include m.telefono {
            display: block;
        }
        &--active {
            color: v.$primario;
        }
    }
    &__bullet {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
        margin: 0 auto;
        padding: 2rem;
        border: .2rem solid v.$secundario;
        border-radius: 50%;
        background-color: v.$blanco;
        font-weight: bold;
        font-size: 1.7rem;
        transition: all 300ms ease;

        &:after,
        &::before {
            content: '';
            position: absolute;
            height: .3rem;
            width: 5rem;
            left: 4.1rem;
            background-color: v.$secundario;

            @include m.telefono {
                width: 11rem;
            }
            @include m.tablet {
                width: 19rem;
            }
        }
        &--active {
            border-color: v.$primario;

            &::after {
                transform: scaleX(0);
                transform-origin: left;
                animation: animate 400ms linear forwards;
                background-color: v.$primario;
            }
        }
    }
    &__check {
        visibility: hidden;
    }
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}