@use 'base/variables' as v;
@use 'base/mixins' as m;

.presentacion {

    margin-top: 5rem;
    &__grid {
        display: grid;
        @include m.grid(2, 5rem)
    }

    &__informacion {

        color: darken(v.$gris, 20%);
        span {
            color: darken(v.$gris, 30%);
            font-weight: 700;
        }
    }

    &__boton {
        @include m.boton(v.$blanco, darken(v.$secundario, 10%));
        display: block;
    }
}

.nav-producto {
    @include m.grid(3, 0);
    text-align: center;

    &__enlace {
        padding: 2rem 0;
        margin: 4rem 0;
        color: v.$blanco;
        &:nth-child(odd){
            background-color: lighten(v.$primario, 10%);
        }

        &:nth-child(even){
            background-color: v.$secundario;
        }
    }
}

.descripcion {

    &__heading {
        color: v.$secundario;
        font-weight: 700;
        text-align: left;
        margin: 0;
    }

    &__texto-contenedor {
        margin-top: 4rem;
        border-left: 10px solid lighten(v.$primario, 20%);
        padding-left: 2rem;
        color: darken(v.$gris, 20%)
    }
}

.especificaciones {
    margin-top: 4rem;
    &__heading {
        color: v.$secundario;
        font-weight: 700;
        text-align: left;
        margin: 0;
    }

    &__texto-contenedor {
        margin-top: 4rem;
        border-left: 10px solid lighten(v.$primario, 20%);
        padding-left: 2rem;
        color: darken(v.$gris, 20%)
    }
}

.descarga {
    margin-top: 4rem;

    &__heading {
        color: v.$secundario;
        font-weight: 700;
        text-align: left;
        margin: 0;
    }

    &__acordion-contenedor {
        margin-top: 4rem;
        border-left: 10px solid lighten(v.$primario, 20%);
        padding-left: 2rem;
        color: darken(v.$gris, 20%)
    }

    &__lista {
        padding-left: 2rem;
        list-style: circle;
    }
}

.accordion-button {
    font-size: 1.6rem;
    color: darken(v.$gris, 20%);
}