@use 'base/variables' as v;
@use 'base/mixins' as m;

.productos {

    margin-top: 2rem;
    &__grid {
        margin-top: 2rem;
        @include m.grid(1, 2rem);

        @include m.tablet{
            @include m.grid(2, 2rem);
        }

        @include m.desktop{
            @include m.grid(3, 2rem);
        }
    }

    &__hero {
        @include m.bgImg("/src/img/taylor.jpg");
        height: 20rem;
        background-position: center center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__heading {
        text-align: center;
        margin: 0;
        color: v.$blanco;
        font-size: 6rem;
        font-weight: 900;
    }
}

.producto {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    transition: border 300ms ease-in-out;

    &__contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__imagen {
        height: 20rem;
        width: 20rem;
        transition: transform 300ms ease-in-out;
    }

    &__nombre {
        margin: 0;
        transition: transform 300ms ease-in-out;
    }

    &__boton {
        @include m.boton(v.$blanco, lighten(v.$primario, 20%));
        transition-property: background-color,transform;
        transition-duration: 300ms;
    }

    &:hover {
        border: 1px solid v.$secundario;
        
        .producto__imagen {
            transform: scale(1.2);
        }

        .producto__nombre,
        .producto__boton {
            transform: translateY(2rem);
        }
    }
}