@use 'base/variables' as v;

@mixin telefono {
    @media (min-width: v.$telefono){
        @content;
    }
}   

@mixin tablet {
    @media (min-width: v.$tablet){
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop){
        @content;
    }
}

@mixin grid($columnas, $gap){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}

@mixin texto-fluido($min,$max) {
    font-size: clamp($min,-0.8rem + 10vw,$max);
}

@mixin heading {
    color: v.$primario;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
    
    &::after {
        content: "";
        background-color: v.$secundario;
        height: 2px;
        width: calc(30%);
        display: inline-block;
        margin: .2rem 0 0 0;
    }
}

@mixin bgImg($url){
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin boton($colorTexto, $colorFondo){
    background-color: $colorFondo;
    color: $colorTexto;
    text-align: center;
    border-radius: .5rem;
    padding: .4rem;
    transition-property: background-color;
    transition-duration: 300ms;
    @include tablet(){
        padding: .5rem;
    }

    &:hover {
        background-color: lighten(v.$primario, 20%);
    }
}