//Tamaños
$telefono: 40px;
$tablet: 768px;
$desktop: 1024px;

//Colores
$primario: #0032ab;
$secundario: #00a7de;
$colorBotones: #0085a0;
$gris: #939393;
$blanco: #FFFFFF;
$negro: #000000;

//Fuentes
$fuentePrincipal: 'Merriweather', serif;
$fuenteSecundaria: 'Raleway', sans-serif;