@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    background-color: v.$blanco;
    margin-top: 2rem;
    box-shadow: 0px 0px 20px v.$gris;

    @include m.tablet{
        padding: 2rem 0;
    }
    &__grid {
        display: grid;
        grid-template-rows: 2fr 1fr;

        @include m.tablet{
            grid-template-rows: unset;
            @include m.grid(2, 2rem);
            align-items: center;
        }
    }

    &__aviso {
        text-align: center;
        margin-bottom: 2rem;
        color: v.$primario;
        font-weight: bold;
        text-transform: capitalize;

        @include m.tablet{
            margin: 0;
        }

        &:hover {
            color: lighten(v.$secundario, 20%);
        }
    }
}

.redes {
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;

    @include m.tablet{
        gap: 2rem;
        margin: 0;
    }

    &__link {
        background: linear-gradient(to right, v.$primario, v.$secundario);
        padding: 1rem;
        border-radius: 50%;
        height: 5rem;

        @include m.tablet {
            height: 4.5rem;
        }
        &::before {
            content: '';
            display: block;
            background-size: cover;
            margin: 0;
            height: 3rem;
            width: 3rem;

            @include m.tablet {
                margin: 0;
                height: 2.5rem;
                width: 2.5rem;
            }
        }

        &[href*="facebook.com"]::before {
            background-image: url(/src/img/icono_facebook.svg);
        }

        &[href*="instagram.com"]::before {
            background-image: url(/src/img/icono_instagram.svg);
            background-size: cover;
        }

        &[href*="youtube.com"]::before {
            background-image: url(/src/img/icono_youtube.svg);
            background-size: cover;
        }

        &[href*="linkedin.com"]::before {
            background-image: url(/src/img/icono_linkedin.svg);
            background-size: cover;
        }
    }

    
    &__accesible {
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
        display: block;
    }
}